*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    
}
.flex-item{
    background-color: tomato;
    width: 130px;
    height: 130px;
    line-height: 130px;
}
.container{
    display: flex;
    flex-flow: row wrap;
}
.container > *{
    padding: 20px;
    text-align: center;
}

header{
    background-color: brown;
    flex: 1 100%;
}
main{
    display: flex;
}
article{
    flex: 5 100%;
    display: inline-block;
}
p{
    background-color: cadetblue;
}
aside{
    display: inline-block;
    background-color: gold;
    flex: 1 30%;
}
footer{
    flex: 1 100%;
    background-color: bisque;
}
